<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djt.cbs.system.dao.SysPermissionDao">
	<resultMap id="SysPermissionResult" type="com.djt.cbs.system.entity.SysPermission">
		<result property="permId" column="perm_id" />
		<result property="ownerId" column="owner_id" />
		<result property="ownerType" column="owner_type" />
		<result property="resId" column="res_id" />
		<result property="resType" column="res_type" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="updateUser" column="update_user" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	<select id="find" resultMap="SysPermissionResult">
		select `perm_id`,`owner_id`,`owner_type`,`res_id`,`res_type`,`start_time`,`end_time`,`update_user`,`update_time`
		from `sys_permission`
		where start_time &lt;= current_timestamp and end_time &gt;= current_timestamp
			<if test="ownerType != null and ownerType &gt; 0">and `owner_type`=#{ownerType}</if>
			<if test="ownerIds != null"> and `owner_id` in
				<foreach item="ownerId" index="index" collection="ownerIds" open="(" close=")" separator=",">
					#{ownerId}
				</foreach>
			</if>
			<if test="resType != null and resType &gt; 0">and `res_type`=#{resType}</if>
			<if test="resIds != null"> and `res_id` in
				<foreach item="resId" index="index" collection="resIds" open="(" close=")" separator=",">
					#{resId}
				</foreach>
			</if>
	</select>
	
	<!-- 根据单个owner id取权限资源ID列表 -->
	<select id="findResourceIdsByOwnerId" resultType="Integer">
		select distinct p.res_id
		from sys_permission p
		where start_time &lt;= current_timestamp and end_time &gt;= current_timestamp
			and p.owner_type=#{ownerType} and p.owner_id=#{ownerId} and res_type=#{resType}
	</select>
	<!-- 根据多个owner id取权限资源ID列表 -->
	<select id="findResourceIdsByOwnerIds" resultType="Integer">
		select distinct p.res_id
		from sys_permission p
		where start_time &lt;= current_timestamp and end_time &gt;= current_timestamp
			and p.owner_type=#{ownerType} and res_type=#{resType} and p.owner_id in
			<foreach item="id" index="index" collection="ownerIds" open="(" close=")" separator=",">
				#{id}
			</foreach>
	</select>
	
	<insert id="create" parameterType="com.djt.cbs.system.entity.SysPermission">
		insert into `sys_permission`(`owner_id`,`owner_type`,`res_id`,`res_type`,`start_time`,`end_time`,`update_user`)
		values(#{ownerId},#{ownerType},#{resId},#{resType},#{startTime},#{endTime},#{updateUser})
	</insert>
	<update id="update" parameterType="com.djt.cbs.system.entity.SysPermission">
		update `sys_permission` set `end_time`=#{endTime},`update_user`=#{updateUser}
		where `perm_id` = #{permId}
	</update>
</mapper>